{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="main_wraper">
    <div class="container-fluid mt-3">
        <div class="row d-flex">
            <div class="col-10">
                <div class="page-title">
                    <h1>My bag</h1>
                </div>
            </div>
        </div>
        <!-- {% if bag_items %}
        {{ bag_items }}
        {{ request.session.bag }} -->
        <!-- {% endif %} -->
        {% for item in bag_items %}
        <div class="row d-flex w-100">
            <div class="col-3 product-img-bag">
                {% include 'bag/product_img.html' %}
            </div>
            <div class="col-6">
                <div class="row bag-items-container  d-flex">
                    <div class="col-3 col-md-4 col-lg-4">
                        <p>Item:</p>
                        <p>Size:</p>
                        <p>Product number:</p>
                        <p>Price:</p>
                    </div>
                    <div class="col-3 col-md-4 col-lg-4">
                        <p>{{ item.product.title }}</p>
                        <p>{{ item.size }}</p>
                        <p>{{ item.product.sku }}</p>
                        <p>{{ item.product.price }}</p>
                    </div>
                    <div class="col-4">
                        {% include 'bag/quantity_form.html' %}
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-3 d-flex">
                <p class="my-0"> ${{ item.product.price | calc_subtotal:item.quantity }}</p>
            </div>
            {% endfor %}

    <!-- </div> -->
</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

<script type="text/javascript">
    //update quanity on click
    $('update-link').click(function(e){
        var form = $(this).prev('.update-form');
        form.submit();
    });

    //remove items and reload on click
    $('.remove-item').click(function(e){
        var csrfToken =  "{{ csrf_token}}";
        var itemId = $(this).att('id').split('remove_')[1];
        var item_size = $(this).data('size');
        var url = '/bag/remove/${itemId}/';
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': item_size};

        $.post(url, data).done(function(){
            location.reload()
        });
    })
</script>
{% endblock %}