{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="main_wraper">
    <div class="container-fluid mt-4">
        <div class="row d-flex">
            <div class="col-10">
                <div id="bag-title">
                    <h1>My bag</h1>
                </div>
            </div>
        </div>
        {% if bag_items %}
        {% for item in bag_items %}
        <div class="row d-flex">
            <div class="col-3 product-img-bag-box text-center">
                {% include 'bag/product_img.html' %}
            </div>
            <div class="col-9">
                <div class="row bag-items-container  d-flex">
                    <div class="col-3 col-md-3 col-lg-3">
                        <p>Item:</p>
                        <p>Size:</p>
                        <p>Product number:</p>
                        <p>Price:</p>
                    </div>
                    <div class="col-3 col-md-3 col-lg-3">
                        <p>{{ item.product.title }}</p>
                        <p>{{ item.size }}</p>
                        <p>{{ item.product.sku }}</p>
                        <p>{{ item.product.price }}</p>
                    </div>
                    <div class="col-3 col-md-3 col-lg-3 quantity-form-box">
                        {% include 'bag/quantity_form.html' %}
                    </div>
                    <div class="col-1 col-md-1 col-lg-1 d-flex">
                        <p class="my-0 mt-2 item-subtotal"> {{ item.product.price | calc_subtotal:item.quantity }}€</p>
                    </div>
                </div>
            </div>
            <hr class="mt-4">
            {% endfor %}
        </div>
        <div class="row d-flex">
            <div class="col-8 col-md-10 col-lg-9"></div>
            <div class="col-3 col-md-2 col-lg-3 d-flex">
                {% include "bag/bag_total.html" %}
            </div>
        </div>
        {% else %}
        <div class="row ">
            <div class="col mt-5">
                <div class="empty-bag-content text-center">
                    <h6 class="mb-sm-5 mb-md-4 mb-lg-5">Your bag is empty, pop something in!</h6>
                    <a class="px-3 fw-bold py-2 text-decoration-none" style="color:#FF6542;" href="{% url 'products' %}"> <<< KEEP SHOPPING</a>   
                </div>
                
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}

