<form class="form update-form"  method="POST" action="#">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty update-link btn btn-sm btn-black rounded-0"
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus"></i>
                    </span>
                </button>
            </div>
            <input class="form-control qty_input quantity" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="3"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty update-link btn btn-sm btn-black rounded-0"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <span >
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
            {% if item.product.sizes %}
            <input type="hidden" id="product_size" name="product_size" value="{{ item.size }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="remove-item text-danger float-right" style="cursor: pointer;" id="remove_{{ item.item_id }}"
data-product_size="{{ item.size }}"><small>Remove</small></a>


 {% block postloadjs %}

<script>

    // Update item quantity
    function updateQuantity(){
            var form = $('.update-form');
            form.submit();
    };
    
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var quantity = $('.quantity').val();
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size, 'quantity': quantity};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 2;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    };

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

        // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    //    updateQuantity()

        var csrfToken = "{{ csrf_token }}";
        var size =  $('#product_size').val();
        var url = `/bag/increment/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    //    updateQuantity()
    var csrfToken = "{{ csrf_token }}";
        var size =  $('#product_size').val();
        var url = `/bag/decrement/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    });

</script>


{% endblock %} 

