{% extends "base.html" %}
{% load static %} 

{% block content %}

<section id="hero">
<div class="container-fluid shipping-info mt-2 ms-0 me-0">
    <div class="row">
        <div class="col-6 text-center mt-2">
            <p><i class="fa-solid fa-truckfa-l"></i><strong> Free shipping</strong> with orders over 50€</p>
        </div>
        <div class="col-6 mt-2">
            <p>Order before 3pm and get it by tomorrow! (<span class="in-dublin">just in Dublin</span>)</p>
        </div>
    </div>
</div>
<div class="container-fluid hero-wraper">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 text-end">
            <div class="hero-1" id="hero-box">
                <div class="hero-1-text text-start" id="hero-box"></div>
                <!-- <img src="./media/images/4281ed2bc5ec72314ec87868900de96ebb90cdfd_cmq0567_1.jpg" alt=""> -->
                <h2 class="mb-0">Shoes</h2>
                <p>New collection</p>
            </div>
            </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-12 text-start">
            <div class="hero-2" id="hero-box">
                <!-- <img src="./media/images/b182e410ebd2a2e5d6861c1ecf30a53677801ee0_cmw6771_1.jpg" alt=""> -->
                <div class="hero-2-text text-end">
                    <p class="fs-3 mb-0"><strong>up to 60% off</strong></p>
                    <h2 class="fs-5">Boots</h2>
                </div>
            </div>
        </div>
        
    </div>
</div>
</section>

<section id="categories">
    <div class="container-fluid container-categories ps-3 pe-3 mb-5">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
                <a href="">
                    <div class="category-box shoes-box-category">
                        <h3 class="shoes-title category-title">SHOES</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
                <a href="">
                    <div class="category-box boots-box-category">
                        <h3 class="boots-title category-title">BOOTS</h3>
    
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
                <a href="">
                    <div class="category-box sneakers-box-category">
                    <h3 class="shoes-title category-title">SNEAKERS</h3>

                </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<script src="{% static 'jquery/bannerImages.js' %}" type="text/js"></script>