<!----------- MODALS ------------------>
<div class="container-fluid burger-menu">
    <div class="row">
      <div class="col text-center">
        <ul class="list list-unstyled mb-0">
          <li class="burger-item">
            <a href="">SHOES</a>
          </li>
          <li class="burger-item">
            <a href="">BOOTS</a>
          </li>
          <li class="burger-item">
            <a href="">SNEAKERS</a>
          </li>
          <li class="burger-item">
            <a href="">ABOUT</a>
          </li>
          <li class="burger-item">
            <a href="">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>