<!----------- MODALS ------------------>
<div class="container-fluid burger-menu">
  <div class="row">
    <div class="col text-center">
      <ul class="list list-unstyled mb-0">
        <li class="burger-item">
          <a href="{% url 'products' %}?category=shoes">SHOES</a>
        </li>
        <li class="burger-item">
          <a href="{% url 'products' %}?category=boots">BOOTS</a>
        </li>
        <li class="burger-item">
          <a href="{% url 'products' %}?category=sneakers">SNEAKERS</a>
        </li>
        <li class="burger-item">
          <a href="">ABOUT</a>
        </li>
        <li class="burger-item">
          <a href="">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</div>