<!---------------------------- DEALS SECTION ----------->
<section id="deals">
  <div class="container-fluid deals-container">
    <div class="row">
      <h6 class="text-center text-muted mb-0">Just walked in</h6>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active indicator " aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="indicator" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active mt-5">
            <div class="cards-wraper d-flex justify-content-center">
              <div class="product-card mx-1">
                <div class="card-img-box">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                </div>
                <div class="product_card-body mt-2 mx-1 text-start">
                  <p class="product-card-description  mb-0 pt-0"><strong>Low heel shoes</strong></p>
                  <p class="product-card-price mt-0">30'90</p>
                </div>
              </div>
              <div class="product-card mx-1">
                <div class="card-img-box">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                </div>
                <div class="product_card-body mt-2 mx-1 text-start">
                  <p class="product-card-description mb-0 pt-0"><strong>Low heel shoes</strong></p>
                  <p class="product-card-price mt-0">30'90</p>
                </div>
              </div>
              <div class="product-card mx-1">
                <div class="card-img-box">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                </div>
                <div class="product_card-body mt-2 mx-1 text-start">
                  <p class="product-card-description mb-0 pt-0"><strong>Low heel shoes</strong></p>
                  <p class="product-card-price mt-0 ">30'90</p>
                </div>
              </div>
              <div class="product-card mx-1">
                <div class="card-img-box">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                </div>
                <div class="product_card-body mt-2 mx-1 text-start">
                  <p class="product-card-description mb-0 pt-0"><strong>Low heel shoes</strong></p>
                  <p class="product-card-price mt-0 ">30'90</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item mt-5">
            <div class="cards-wraper d-flex justify-content-center">
              <div class="product-card mx-1">
                <div class="card-img-box">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                </div>
                <div class="product_card-body mt-2 mx-1 text-start">
                  <p class="product-card-description mb-0 pt-0"><strong>Low heel shoes</strong></p>
                  <p class="product-card-price mt-0">30'90</p>
                </div>
              </div>
              <div class="product-card mx-1">
                <div class="card-img-box">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                </div>
                <div class="product_card-body mt-2 mx-1 text-start">
                  <p class="product-card-description mb-0 pt-0"><strong>Low heel shoes</strong></p>
                  <p class="product-card-price mt-0">30'90</p>
                </div>
              </div>
              <div class="product-card mx-1">
                <div class="card-img-box">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                </div>
                <div class="product_card-body mt-2 mx-1 text-start">
                  <p class="product-card-description mb-0 pt-0"><strong>Low heel shoes</strong></p>
                  <p class="product-card-price mt-0">30'90</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev d-none d-lg-block" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="indicator" aria-hidden="true">
            < </span>
              <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next d-none" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="indicator" aria-hidden="true"> > </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>
</section>