
/***** COLOR PALLETES 

RED: rgb(122, 13, 13);
AMARILLO : #F3FFC6
GREY: C8BFC7;
TOMATOE  FF6542

*/
body{
    margin: 0;
}

/****************************** HEADER */
header div{
    margin: 0 auto;
}

input[type="search"]{
    height: 30px;
    margin-right: 30px;
    font-size: 16px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px grey;
}

.btn.search{
   position:relative;
   right:55px;
}


i.fa-solid.fa-magnifying-glass{
    color: #b3bcc7;
}

.burger{
    background-color: #ffffff;
    border: none;
}
.burger, i.fa-solid{
    color:rgb(122, 13, 13);
}

i.fa-solid.fa-truck{
    color: #F3FFC6;
}

/**** shippin info bar */

.shipping-info{
    height: 40px;
    font-size: 0.775rem;
    background-color: #5D737E;
    color: #F3FFC6;
}
.in-dublin{
    color: #e3b837;
}

/***** BURGER MENU*/

.burger-menu{
   width: 300px;
   position:absolute;
   top:150px;
   background-color: hsl(0, 100%, 97%);
}
.burger-menu ul li{
    height: 45px;
    margin-top: 15px;
    border-bottom: solid 1px rgb(122, 13, 13);
}

.burger-menu ul li A{
   text-decoration: none;
   color: #000000;
   justify-content: space-around;
}

/*************** HERO SECTION **/
.hero-wraper{
    position: relative;
}

#hero-box{
    width:100%;
    height: 375px;
}
.hero-1{
    background-image: url("media/images/4281ed2bc5ec72314ec87868900de96ebb90cdfd_cmq0567_1.jpg");
    background-position: center;
    background-size: cover;
}
.hero-2{
    background-image: url("media/images/b182e410ebd2a2e5d6861c1ecf30a53677801ee0_cmw6771_1.jpg");
    background-position: center;
    background-size: cover;
}
/* 
.hero-1-text{
    position: absolute;
    top: 270px;
    left:280px;
    color: #F3FFC6;
}

.hero-2-text{
    position: absolute;
    top: 30px;
    right:285px;
    color: #FF6542;
} */


/******** CATEGORIES SECTION */

.container-categories{
    margin: 0 auto;
}
.container-categories a{
    text-decoration: none;
    color: black;
}

.category-box{
    background-color: #a4c8f5;
    height: 300px;
}

.category-title{
    position: relative;
    top: 240px;
    left: 10px;
    letter-spacing: 3px;
}

/************** NEW ARRIVALS SECTION ***/

.carousel-inner{
    height: 500px;
    width: 100%;
}
.carousel-inner .carousel-item{
    margin-top: 30px;
}
.product-card{
    height: 350px;
    width: 400px;
}

.product-card .card-img-box{
    height: 300px;
    background-color: #e3b837;
}

.carousel-indicators [data-bs-target]{

 background-color: rgb(122, 13, 13);
}
.indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}

/***** STORE INFORMATION */
.information-box{
    margin: 7px auto;
    height: 250px;
    width: 300px;
    background-color: rgb(163, 200, 245);
}

 /******************************************************************** MOBILE SCREEN */
 @media only screen and (min-width: 320px) and (max-width: 600px) {
  
/**************** HEADER*/

.store-name{
    font-size: 1rem;
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
}

/*************** HERO SECTION **/

  

 /************** NEW ARRIVALS SECTION ***/

  .carousel-item{
    width: 100%;
  }
.carousel-inner{
    height: 420px;
}
.product-card{
    height: 280px;
    width: 33%;
}
.product-card .card-img-box{
    height: 250px;
    background-color: #e3b837;
}

.carousel-indicators{
    position: absolute;
    top:95%
}
.carousel-indicators [data-bs-target]{
 background-color: rgb(122, 13, 13);
}
.indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}

.product-card p{
    font-size: 0.8rem;
    text-align: start;
}

/*************** INFORMATION SECTION **/


.information-box{
    margin: 7px auto;
    height: 150px;
    /* width: 180px; */
    background-color: rgb(163, 200, 245);
}

 }
  /******************************************************************** TABLET SCREEN */
  @media only screen and (min-width:640px) and (max-width:950px) {
  
    /**************** HEADER*/

.store-name{
    font-size: 1rem;
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
}

/*************** HERO SECTION **/

  

  /************** NEW ARRIVALS SECTION ***/

  .carousel-item{
    width: 99%;
  }
.carousel-inner{
    height: 420px;
}
.product-card{
    height: 280px;
    width: 33%;
}
.product-card .card-img-box{
    height: 250px;
    background-color: #e3b837;
}

.carousel-indicators{
    position: absolute;
    top:95%
}
.carousel-indicators [data-bs-target]{
 background-color: rgb(122, 13, 13);
}
.indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}

.product-card p{
    font-size: 0.8rem;
    text-align: start;
}

/*************** INFORMATION SECTION **/

#store-information .row{
    padding-left: 3%;
    padding-right: 3%;
}
.information-box{
    margin: 7px auto;
    height: 180px;
    width: 180px;
    background-color: rgb(163, 200, 245);
}

  }
  
  /******************************************************************** DESKTOP SCREEN */
  @media only screen and (min-width: 1000px) {
  

/*************** INFORMATION SECTION **/

#store-information .row{
    padding-left: 2%;
    padding-right: 2%;
}
  }