
/***** COLOR PALLETES 

RED: rgb(122, 13, 13);
AMARILLO : #F3FFC6
GREY: C8BFC7;
TOMATOE  FF6542

*/
body{
    margin: 0;
}

/****************************** HEADER */

header div{
    margin: 0 auto;
    height: 75px;
    background-color: #ffffff;
}

input[type="search"]{
    height: 30px;
    margin-right: 30px;
    font-size: 16px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px grey;
    position: absolute;
    top:60px;
}

.btn.search{
   position:absolute;
   left:280px;
   bottom: 12px;
}

i.fa-solid.fa-magnifying-glass{
    color: #b3bcc7;
}

.burger{
    background-color: #ffffff;
    border: none;
}
.burger, i.fa-solid{
    color:rgb(122, 13, 13);
}

i.fa-solid.fa-truck{
    color: #F3FFC6;
}

header h1{
margin-top: 10px;
letter-spacing: 2px;
color:rgb(122, 13, 13);
}

.in-dublin{
    color: #e3b837;
}

/****************** BURGER MENU*/
.burger-menu{
   width: 300px;
   position:absolute;
   top:150px;
   background-color: hsl(0, 100%, 97%);
   z-index: 99;
   display: none;
}
.burger-menu ul li{
    height: 45px;
    margin-top: 15px;
    border-bottom: solid 1px rgb(122, 13, 13);
}

.burger-menu ul li A{
   text-decoration: none;
   color: #000000;
   justify-content: space-around;
}

.burger-hide{
    display: none;
}

.burger-show{
    display: block;
}

/******************* HERO SECTION **/
.hero-wraper{
    position: relative;
    width: 100%;
    padding: 0;
}

.hero-box-1,
.hero-box-2{
    height: 800px;
text-align: center;
}

.hero-box-1{
position: relative;
left:40px;
}

.hero-box-2{
    position: relative;
    right:40px;
    }

img{
    width:80%;
    height: 80%;
}

.hero-1-text{
    position: absolute;
    top: 270px;
    left:90px;
    color: #F3FFC6;
}

.hero-2-text{
    position: absolute;
    top: 30px;
    right:100px;
    color: #FF6542;
}

/**************** CATEGORIES SECTION */

.container-categories{
    margin: 0 auto;
}

.container-categories a{
    text-decoration: none;
    color: black;
}

.category-box{
    height: 300px;
    width: 100%;
}

.category-img{
    height:200px;
    width: 100%;
}

.category-title{
    position: relative;
    top: 240px;
    left: 10px;
    letter-spacing: 3px;
}

/***************** NEW ARRIVALS SECTION ***/

.new-arrivals-container{
    margin-top: 150px;
    margin-bottom: 150px;
}
.carousel-inner{
    height: 500px;
    width: 100%;
}
.carousel-inner .carousel-item{
    margin-top: 30px;
}

.product-card{
    height: 350px;
    width: 400px;
}

.product-card .card-img-box{
    height: 300px;
    background-color: #e3b837;
}

.carousel-indicators [data-bs-target]{

 background-color: rgb(122, 13, 13);
}

.indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}

/*************** STORE INFORMATION */
.information-box{
    margin: 7px auto;
    height: 250px;
    width: 300px;
    background-color: rgb(163, 200, 245);
}

/****************** FOOTER */

.container-footer{
    margin-top: 5%;
}

.container-footer .row{
    margin: 0;

}
.container-footer .column{
    padding-top: 1%;
    border-color: rgb(122, 13, 13);
}

.logo-footer-box img{
    width: 50%;
}

.footer-bg{
    background-color: rgb(122, 13, 13);
    color: #ffffff;
}


/****************** PRODUCTS PAGE */


.badges-container a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.badge{
    background-color: #5D737E;
    font-size: 0.600rem;
    width: 130px;
    letter-spacing: 2px;
    padding: 8px;
}

.badge:hover{
    background-color: rgb(255, 255, 255);
    color: #5D737E;
    transition-duration: 0.5s;
} 

.product-badges-box a{
    color: #000000;
    text-decoration:none;
}

.products-sort button{
    background-color: #ffffff;
    border: none;
    color: rgb(122, 13, 13);
}

.products-sort button:hover{
    background-color: #ffffff;
    border: none;
}

.products-sort a{
    font-size: 0.800rem;
}

.card-button{
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: rgb(122, 13, 13);
    color: rgb(255, 255, 255); 
    border-color: inherit;
}

.card-button:hover{
    background-color: #5D737E;
    border-color: #5D737E;
}

/****************** PRODUCT DETAILS PAGE */
.size-box{
    border: solid 1px rgb(122, 13, 13);
}
/***** DELETE THIS LINE WHEN JQUERY USED*/
.size-box:hover{
    background-color:  rgb(122, 13, 13);
    color: #ffffff;
}

.size-link{
    text-decoration: none;
    color:#000000;
}

.fa-regular{
    color: rgb(122, 13, 13);
}

.images-list-container img{
    border: solid 1px rgb(255, 255, 255);
}

.images-list-container img:hover{
    border: solid 1px rgb(122, 13, 13);
    transition: 0.7s ease-in-out all;
}

.add-to-bag-button-container button{
    width: 65%;
    background-color: rgb(122, 13, 13);
    color: #ffffff;
    font-size: 0.900rem;
    font-weight: bold;
}

.add-to-bag-button-container button:hover{
    width: 65%;
    background-color: rgb(255, 255, 255);
    color: rgb(122, 13, 13);
    border-color: rgb(122, 13, 13);;
    font-size: 0.900rem;
    font-weight: bold;
}

.product-details-box, .product-description-box{
    font-size: 0.800rem;
}

.product-info-container .info-box .info-text{
    font-size: 0.650rem;
}

/***************** DEALS CAROUSEL SECTION */

.deals-container{
    margin-top: 9%;
}

.deals-container h6{
    margin-left: 110px;
    margin-bottom: 40px;
}

.deals-contianer .carousel-item{
    width: 100%;
  }

.deals-container .carousel-inner{
    height: 420px;
}

.deals-container .product-card{
    height: 280px;
    width: 20%;
}

.deals-container .product-card .card-img-box{
    height: 270px;
    background-color: #b6b6b6;
}

.deals-container .card-img-box img{
    height: 100%;
}

.deals-container .carousel-indicators{
    position: absolute;
    top:95%
}

.deals-container .carousel-indicators [data-bs-target]{
 background-color: rgb(122, 13, 13);
}

.deals-container .indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}

.deals-container .product-card p{
    font-size: 0.8rem;
    text-align: start;
}


/************** SUBSCRIPTION SECTION */

.subscription-container{
    padding-top: 20px;
    margin: 90px auto 10px;
    height: 200px;
    width: 450px;
    background-color: #5D737E;
    color: #F3FFC6;
    border-radius: 10px;
    letter-spacing: 1px;
}

.subscription-container button{
    margin-top: 10px;
    width: 70%;
    background-color:  #FF6542;
    color: #ffffff;
}


/******************* BAG PAGE **/
.bag-items-container p{
    margin: 3px auto;
}

.item-subtotal, .bag-total{
    font-size: 0.800rem;
}

 /******************************************************************** MOBILE SCREEN */
 @media only screen and (min-width: 320px) and (max-width: 600px) {
  
/**************** HEADER*/

.store-name{
    font-size: 1rem;
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
}

/*********** shippin info bar */

.shipping-info{
    height: 60px;
    font-size: 0.600rem;
    background-color: #5D737E;
    color: #F3FFC6;
}

.shipping-info p{
 margin: 0 auto ;
}


/*************** HERO SECTION **/
.hero-wraper{
    position: relative;
    width: 100%;
    padding: 0;
}

.hero-box-1,
.hero-box-2{
    height: 520px;
    text-align: center;
}

.hero-box-1{
position: relative;
left:0;
}

.hero-box-2{
    position: relative;
    right:0;
    margin-top: 10px;
    }

img{
    width:90%;
    height: 100%;
}

.hero-1-text{
    position: absolute;
    top: 120px;
    left:60px;
    color: #F3FFC6;
}

.hero-2-text{
    position: absolute;
    top: 30px;
    right:70px;
    color: #FF6542;
}

 /************** NEW ARRIVALS SECTION ***/

  .carousel-item{
    width: 100%;
  }
.carousel-inner{
    height: 420px;
}
.product-card{
    height: 280px;
    width: 33%;
}
.product-card .card-img-box{
    height: 250px;
    background-color: #e3b837;
}

.carousel-indicators{
    position: absolute;
    top:95%
}
.carousel-indicators [data-bs-target]{
 background-color: rgb(122, 13, 13);
}
.indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}

.product-card p{
    font-size: 0.8rem;
    text-align: start;
}

/*************** INFORMATION SECTION **/


.information-box{
    margin: 7px auto;
    height: 150px;
    /* width: 180px; */
    background-color: rgb(163, 200, 245);
}

/************** FOOTER */

.footer-bg{
    color: #ffffff;
}
.container-logo{
    order:4
}
.logo-footer-box img{
    width: 20%;
}

/************** PRODUCTS PAGE */

.main-wraper{
    margin: 0 auto;
}

.badge{
    font-size: 0.500rem;
    width: 80px;
    letter-spacing: 1px;
    padding: 6px;
}

.products-sort button{
    font-size: 0.600rem;
}

.products-number{
    font-size: 0.500rem;
}

.card-img-container{
    height: 43%;
    width:100%;
    margin:0 auto;
}

.card-img-top{
    width: 100%;
    /* height: 285px; */
}
.card-img-box{
    width:100%;
    height: 20%; 
}

.card-body{
    margin-top: 2%;
}
.card{
    /* height: 300px; */
    width: 100%;
    margin: 0 auto;
}

.card-product-title,
.card-product-name,
.card-product-price{
    font-size: 0.300rem;
    padding: 0;
}

.column-card{
    padding: 0;
}

.card-button{
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
    font-size: 0.800rem;

}

.card-product-title, .card-product-name{
    font-size: 0.900rem;
}

.card-product-name, .card-product-price{
    font-size: 0.750rem;
}

.card-button:hover{
    background-color: rgb(122, 55, 55);
    border-color: rgb(122, 55, 55);
}



/*********** PRODUCT DETAILS PAGE ************/

.images-list-container{
    justify-content: center;
    margin-right: 15%;
    
}

.dot{
    margin: auto 5px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: rgb(122, 13, 13);

}
.product-title{
    font-size: 0.900rem;
}

.product-price{
    font-size: 0.800rem;
}

.product-name{
    font-size: 0.900rem;
}

.product-badge-box{
    margin-top: 40px;
}

.product-badge{
    font-size: 0.800rem;
}

.fa-heart{
    font-size: 1.5rem;
}

.size-title{
    font-size: 0.900rem;
}

ul .size-box{
    height: 40px;
    width: 40px;
    font-size: 0.900rem;
}
.product-detail-main-img img{
    width: 80%;
    height: 70%;
}

.product-description-box p{
    font-size: 0.800rem;
}

.product-details-container{
    width: 70%;
    margin-left: 25%;
}

.product-details-box ul{
    padding-left: 20px;
}

.product-details-box .puta{
    padding-left: 20px;
}
.product-details-box p{
    font-size: 0.700rem;
}

/**************** DEALS CAROUSEL SECTION */

.deals-container{
    margin-top: 8%;
}

.deals-container h6{
    margin-left: 0;
    margin-bottom: 20px;
}

.deals-container .carousel-item{
    width: 100%;
  }

.deals-container .carousel-inner{
    height: 320px;
}
.deals-container .product-card{
    height: 280px;
    width: 40%;
}
.deals-container .product-card .card-img-box{
    height: 130px;
    background-color: #b6b6b6;
}

.deals-container .card-img-box img{
    height: 100%;
}
.deals-container .carousel-indicators{
    position: absolute;
    top:95%
}
.deals-container .carousel-indicators [data-bs-target]{
 background-color: rgb(122, 13, 13);
}

.deals-container .indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}

.deals-container .product-card p{
    font-size: 0.8rem;
    text-align: start;
}

/******** SUBSCRIPTION SECTION */

.subscription-container{
    padding-top: 20px;
    margin: 90px auto 10px;
    height: 160px;
    width: 95%;
    background-color: #5D737E;
    color: #F3FFC6;
    border-radius: 10px;
    letter-spacing: 1px;
}

.subscription-container p {
    font-size: 0.800rem;
}

.subscription-container h5 {
    font-size: 0.900rem;
}

.subscription-container button{
    margin-top: 0;
    width: 80%;
    background-color:  #FF6542;
    color: #ffffff;
}

/******************* BAG PAGE **/
.bag-items-container p{
    font-size: 0.750rem;
}

/* .input-group {
    width: 70%;

} */
 }
  /******************************************************************** TABLET SCREEN */
  @media only screen and (min-width:640px) and (max-width:950px) {
  
    /**************** HEADER*/

.store-name{
    font-size: 1rem;
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
}

/************** PRODUCTS PAGE */

.products-sort a{
    font-size: 0.800rem;
}

.products-number{
    font-size: 0.800rem;
}

.card-img-container{
    height: 60%;
    width:100%;
    margin:0 auto;
}

.card-img-top{
    width: 100%;
    /* height: 285px; */
}
.card-img-box{
    width:90%;
    /* height: 245%;  */
}

.card-body{
    margin-top: 2%;
}
.card{
    /* height: 410px; */
    width: 80%;
    margin: 0 auto;
}

.card-button{
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
}

.card-product-title, .card-product-name{
    font-size: 0.900rem;
}

.card-product-name, .card-product-price{
    font-size: 0.750rem;
}

.card-button:hover{
    background-color: rgb(122, 55, 55);
    border-color: rgb(122, 55, 55);
}


/*********** PRODUCT DETAILS PAGE ************/

.product-title{
    font-size: 0.900rem;
}

.product-price{
    font-size: 0.800rem;
}

.product-name{
    font-size: 0.900rem;
}

.product-badge{
    font-size: 0.800rem;
}

.fa-heart{
    font-size: 1.5rem;
}

.size-title{
    font-size: 0.900rem;
}

ul .size-box{
    height: 40px;
    width: 40px;
    font-size: 0.900rem;
}
.product-detail-main-img img{
    width: 80%;
    height: 70%;
}

/*********** shippin info bar */

.shipping-info{
    height: 60px;
    font-size: 0.675rem;
    background-color: #5D737E;
    color: #F3FFC6;
}
.shipping-info p{
    margin: 0 auto;
}

/*************** HERO SECTION **/
.hero-wraper{
    position: relative;
    width: 100%;
    padding: 0;
}

.hero-box-1,
.hero-box-2{
    height: 700px;
    text-align: center;
}

.hero-box-1{
position: relative;
left:0;
}

.hero-box-2{
    position: relative;
    right:0;
    margin-top: 10px;
    }

img{
    width:65%;
    height: 100%;
}

.hero-1-text{
    position: absolute;
    top: 270px;
    left:170px;
}

.hero-2-text{
    position: absolute;
    top: 30px;
    right:180px;
}


  /************** NEW ARRIVALS SECTION ***/

  .carousel-item{
    width: 99%;
  }

.carousel-inner{
    height: 420px;
}

.product-card{
    height: 280px;
    width: 33%;
}

.product-card .card-img-box{
    height: 250px;
    background-color: #e3b837;
}

.carousel-indicators{
    position: absolute;
    top:95%
}

.carousel-indicators [data-bs-target]{
 background-color: rgb(122, 13, 13);
}

.indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}

.product-card p{
    font-size: 0.8rem;
    text-align: start;
}

/*************** INFORMATION SECTION **/

#store-information .row{
    padding-left: 3%;
    padding-right: 3%;
}

.information-box{
    margin: 7px auto;
    height: 180px;
    width: 180px;
    background-color: rgb(163, 200, 245);
}

.container-logo{
    order:4
}

.logo-footer-box img{
    width: 20%;
  }

  .footer-bg{
    color:white;
    background-color: rgb(122, 13, 13);

  }
  
}
  /******************************************************************** DESKTOP SCREEN */
  @media only screen and (min-width: 1000px) {
  
/*********** shippin info bar */

.shipping-info{
    height: 40px;
    font-size: 0.775rem;
    background-color: #5D737E;
    color: #F3FFC6;
}

/************** PRODUCTS PAGE */

.products-sort button{
        font-size: 0.900rem;
    }
    
.products-number{
    font-size: 0.700rem;
}

.product-card-box{
    height: 450px;
}

.card-img-container{
    height: 240px;
    width:80%;
    margin: 0 auto;

}

.card-img-box{
    width:100%;
}


.card-button{
    position: absolute;
    bottom: 10px;
    left: 7%;
    width: 86%
}

.card-product-title, .card-product-name{
    font-size: 0.900rem;
}

.card-product-name, .card-product-price{
    font-size: 0.750rem;
}


/************* PRODUCT DETAILS PAGE*/
    .product-details-box, .product-description-box{
        border-left: solid 1px #e5e5e5;
    }

/*************** INFORMATION SECTION **/

#store-information .row{
    padding-left: 2%;
    padding-right: 2%;
}

/********************* BAG PAGE */


.product-sku-bag, .product-title-bag, .product-quantity-bag, .product-price-bag{
    font-size: 0.750rem;
}



/* .total-bag-row{
    width: 100%;
}
.bag-item-row{
    width: 100%;
} */
  }