
/***** COLOR PALLETES 
RED: rgb(122, 13, 13);
AMARILLO : #F3FFC6
GREY: C8BFC7;
TOMATOE  FF6542

*/

body{
    font-family: 'Roboto', sans-serif;
}

.current-year-container{
    font-size: 0.500rem;
    margin-top: 10px;
    color: rgb(122, 13, 13);
}

/*** override input autofill background_color */
input:-webkit-autofill, input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-background-color: rgb(56, 56, 56);
    -webkit-text-fill-color: rgb(56, 56, 56);
    transition: background-color 5000s ease-in-out 0s;
  }

/******** TOASTS CONTAINER */
#message-container{
    position: fixed;
    right: 30px;
    top: 72px;
    z-index: 9999999999;
    background-color: rgb(220, 220, 220);
} 

.toast{
    border-color: darkred;
    color: #616161;
}

body{
    margin: 0;
}

/****************************** HEADER */
header .container-fluid{
    padding: 0;
}

header .navbar{
    height: 90px;
    max-width: 110rem;
}

header .row{
    margin: 5px auto;
    justify-content: space-between;
}

.search-container{
    height: 45px;
    max-width: 110rem;

}

input[name="q"]{
 margin-top: 0;
 margin-left: 25px;
 width: 25%;
 height: 40px;
 font-size: 0.900rem;
 z-index: 0;
 border-radius: 10px;
 border-color: #bebebe;
 padding-left: 20px;
}

input[name="q"]:focus{
  box-shadow: none;
   }

.btn.search{
   position:relative;
   right:60px;
   bottom: 3px;
   border: none;
   z-index: 0;
}

.btn.search:hover{
    border: none;
    
 }
i.fa-solid.fa-magnifying-glass{
    color: #b3bcc7;
}

.burger{
    background-color: #ffffff;
    border: none;
    margin-bottom: 5px;
}

.burger, .fa-solid{
    color:rgb(122, 13, 13);
}

#shipping-info .fa-truck{
color:  #F3FFC6;
}

header h1{
font-size: 2rem;
margin-top: 10px;
letter-spacing: 2px;
color:rgb(122, 13, 13);
text-transform: uppercase;
}

.store-name-column{
    padding-left: 0;
}
.store-name-link{
    text-decoration: none;
}

.in-dublin{
    color: #e3b837;
}

/****************** BURGER MENU*/
.burger-menu{
   width: 300px;
   position:absolute;
   top: 76px;
   left: 0;
   background-color: rgb(255, 255, 255);
   border-top: solid 1px rgb(122, 13, 13);
   z-index: 9999999999;
   display: none;
}

.burger-menu .row .col{
    padding: 0;
    background-color: rgb(255, 255, 255);
    border-right: solid 1px rgb(122, 13, 13);
    padding: 0;
    height: 304px;
}

.burger-menu ul li{
  padding: 5%;
  border-bottom: solid 1px rgb(122, 13, 13);
  border-top: none;
}

.burger-menu ul li:hover{
   background-color: rgb(122, 13, 13);
   color:#ffffff;
   border-bottom: solid 1px rgb(255, 255, 255);
}

.burger-menu ul li a{
   font-weight: bold;
   text-decoration: none;
   color: rgb(122, 13, 13);
   justify-content: space-around;
}

.burger-menu ul li:hover a{
    color: rgb(255, 255, 255);
 }

.burger-hide{
    display: none;
}

.burger-show{
    display: block;
}

/******************* HERO SECTION **/
.hero-wraper{
    width: 100%;
    padding: 0;
}

.hero-box-1,
.hero-box-2{
text-align: center;
}

.hero-box-1{
position: relative;
left:40px;
}

.hero-box-2{
    position: relative;
    right:40px;
    }

.hero-1-text{
    position: absolute;
    top: 270px;
    left:90px;
    color: #F3FFC6;
}

.hero-2-text{
    position: absolute;
    top: 30px;
    right:100px;
    color: #FF6542;
}

/**************** CATEGORIES SECTION */
.categories-wraper{
    margin: 0 auto;
    padding: 0 5%;
}

.categories-wraper a{
    text-decoration: none;
}

.category-box{
    height: 300px;
    width: 100%;

}

.category-box h3{
    color: hsl(308, 4%, 56%);
}


.category-img{
    height:200px;
    width: 100%;
}

.category-title{
text-align: center;   
    letter-spacing: 3px;
}

/***************** NEW ARRIVALS SECTION ***/
.new-arrivals-container{
    margin-top: 150px;
    margin-bottom: 150px;
}
.carousel-inner{
    height: 500px;
    width: 100%;
}
.carousel-inner .carousel-item{
    margin-top: 30px;
}

.product-card{
    width: 300px;

}
.product-card .card-img-box{
    height: 305px;
    background-color: rgb(122, 13, 13);
}

.product-card .card-img-box img{
    height: 300px;
}

.carousel-indicators button[data-bs-target]{

 background-color: rgb(122, 13, 13);
}

.indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}

/*************** STORE INFORMATION */
.information-box{
    text-align: center;
    margin: 7px auto;
    height: 90%;
    width: 90%;
    background-color: rgb(233, 229, 232);
    padding: 50px 20px;
}

.information-box .store-info-text{
    text-align: left;
padding-left: 15%;
padding-right: 12%;
}

.information-box h6{
font-size: 0.800rem;
}
.information-box p{
    font-size: 0.850rem;
    }

.information-box .truck{
    color: rgb(122, 13, 13);
}


.form-control{
margin-top: 5px;
}

.form-control:focus{
    border-color: #858585;
    box-shadow: 0 0 3px #858585 !important;   
     margin-top: 5px;
    }
    .form-control::placeholder{
        font-size: 0.850rem;
     }

/****************** FOOTER */

.container-footer .row{
    margin: 0;
}

.container-footer a{
text-decoration: none;
color: #ffffff;
}

.footer-item i{
    color: #ffffff;
}
.container-footer .column{
    padding-top: 1%;
    border-color: rgb(122, 13, 13);
}

.logo-footer-box img{
    width: 50%;
}

.footer-bg{
    background-color: rgb(122, 13, 13);
    color: #ffffff;
}


/****************** PRODUCTS PAGE */
.badges-container a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.badge{
    background-color: #5D737E;
    font-size: 0.600rem;
    width: 130px;
    letter-spacing: 2px;
    padding: 8px;
}

.badge:hover{
    background-color: rgb(255, 255, 255);
    color: #5D737E;
    transition-duration: 0.5s;
} 

.product-badges-box a{
    color: #000000;
    text-decoration:none;
}

.products-sort button{
    background-color: #ffffff;
    border: none;
    color: rgb(122, 13, 13);
}

.products-sort button:hover{
    background-color: #ffffff;
    border: none;
}

.products-sort a{
    font-size: 0.800rem;
}

.card-button{
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: rgb(122, 13, 13);
    color: rgb(255, 255, 255); 
    border-color: inherit;
}

.card-button:hover{
    background-color: #5D737E;
    border-color: #5D737E;
}


/************** SUBSCRIPTION SECTION */
.subscription-container{
    padding-top: 20px;
    margin: 100px auto 10px;
    height: 270px;
    width: 450px;
    background-color: #5D737E;
    color: #F3FFC6;
    border-radius: 10px;
    letter-spacing: 1px;
}

#subscription-products-page .form-control{
    margin: 5px auto;
    width: 70%;
}

.subscription-container button{
    margin-top: 10px;
    width: 70%;
    background-color:  #FF6542;
    color: #ffffff;
}

/************ ALL-AUTH-PAGES */
.allauth-form-inner-content .form-control{
    margin: 0 auto 5px;
 }

.allauth-form-inner-content 
.form-group label[for="id_login"],
.allauth-form-inner-content 
.form-group label[for="id_password1"],
.allauth-form-inner-content 
.form-group label[for="id_password2"],
.allauth-form-inner-content 
.form-group label[for="id_email"],
.allauth-form-inner-content 
.form-group label[for="id_username"]{
    display: none;
    }

.allauth-form-inner-content .form-group label[for="id_remember"]{
   font-size: 0.700rem;
   padding-right: 20px;
}

.form-check .form-check-input {
    float: none;
    margin-top: 10px;
    margin-left: -1.5em;
    width: 0.800em;
    height: 0.800em;
}

.form-check .form-check-input {
   box-shadow: none;
}

/****** change password page*/
.allauth-form-inner-content .password_change .form-control:focus{
    border-color: #858585;
    box-shadow: 0 0 3px #858585 !important;
   font-size: 0.700rem;
}

.allauth-form-inner-content .password_change .form-control::placeholder{
   font-size: 0.700rem;
}

 /******************************************************************** MOBILE SCREEN */
 @media only screen and (min-width: 320px) and (max-width: 600px) {
  
/**************** HEADER*/
header h1{
    font-size: 1.1rem;
}

header .row {
    margin: auto -10px;
}

header h1 {
    font-size: 1.2rem;
    margin-top: 17px;
    letter-spacing: 1px;
    color: rgb(122, 13, 13);
    text-transform: uppercase;
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
}

.search-container{
    text-align: center;
    margin-right: 5px;
}

input[name="q"]{
    height: 30px;
    width: 80%;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-left: 3px;
    margin-left: 0;
   }

   input[name="q"]::placeholder{
font-size: 0.800rem;   
}
   
   .btn.search{
      position:absolute;
      right:40px;
      top: 40px;
      border: none;
   }

   #burguer-icon,
   .fa-bag-shopping,
   .fa-heart,
   .fa-user {
    font-size: 1.5rem;
  }

/*********** shippin info bar */
header #shipping-info{
    height: 30px;
    font-size: 0.675rem;
    background-color: #5D737E;
    color: #F3FFC6;
}

.shipping-info p{
    margin: 0 auto;
}

.wonky{
    background-color: #5D737E;

}

/*************** HERO SECTION **/
.hero-wraper{
    margin-top: 20px;
    position: relative;
    width: 100%;
    padding: 0;
}

.hero-img-box-1,
.hero-img-box-2{
    text-align: center;
    max-width: 25rem;
    min-width: 16rem;
    margin: 0 auto;
}

.hero-box-1{
position: relative;
left:0;

}

.hero-box-2{
    position: relative;
    right:0;
    margin-top: 10px;
    }

img{
    width:90%;
}

.hero-1-text{
    position: absolute;
    top: 120px;
    left:60px;
    color: #F3FFC6;
}

.hero-2-text{
    position: absolute;
    top: 30px;
    right:70px;
    color: #FF6542;
}

 /**************** CATEGORIES SECTION */
.categories-wraper{
    margin: 0 auto;
    padding: 0;
}

.category-box{
    margin: 150px auto auto;
    min-width: 10rem;
    max-width: 16rem;
}

.category-box img{
    height: 15rem;
    width: 100%;
}

/***************** NEW ARRIVALS SECTION ***/
.new-arrivals-container{
    margin-top: 250px;
    margin-bottom: 150px;
}

.carousel-inner{
    height: 310px;
    width: 100%;
    max-width: 17rem;
    padding-left: 1%;
    margin: 0 auto;
}

.carousel-inner .carousel-item{
    margin-top: 30px;
}

.product-card .card-img-box {
    height: 105px;
    width: 90px;
    max-width: 120px;
    background-color: rgb(122, 13, 13);
}


.product-card .card-img-box img{
    height: 97%;
    width: 100%;
}

.product-card-body p{
    font-size: 0.650rem;
}

.carousel-indicators button[data-bs-target]{

 background-color: rgb(122, 13, 13);
}

.indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}

/*************** STORE INFORMATION */
.information-box{
    text-align: center;
    height: 90%;
    width: 90%;
    padding: 50px 20px;
}

.information-box .store-info-text{
    text-align: center;

}

.information-box h6{
font-size: 0.800rem;
}

.information-box p{
    font-size: 0.850rem;
    }

.information-box i{
    font-size: 2rem;
}
.information-box .truck{
    color: rgb(122, 13, 13);
}

.subscribe{
font-size: 1rem;
}


.information-box .form-control{
    height: 35px;
}

.information-box button{
    letter-spacing: 1px;
    font-size: 0.650rem;
    height: 35px;
    width: 99.5%;
    background-color: #FF6542;
    color: #ffffff;
    font-weight: bold;
}

/******************* FOOTER */
.footer-bg{
    color: #ffffff;
}

.container-logo{
    order:4
}

.logo-footer-box img{
    width: 20%;
}

/*********** ALL-AUTH-FORMS */
.header-container .allauth-form-inner-content{
    padding: 5% 12%;
    margin: 0 auto;
    background-color: rgb(235, 227, 233);
    border-radius: 10px;
    width: 90%;
    text-align: center;
}

.allauth-form-inner-content h1{
    font-size: 0.900rem;
    margin-bottom: 8%;
}

.allauth-form-inner-content p{
    font-size: 0.750rem;
}

.allauth-form-inner-content a{
   text-decoration: none;
    font-size: 0.750rem;
}

.allauth-form-inner-content button{
    border: none;
    background: none;
    color: #FF6542;
    font-size: 0.950rem;
}

.allauth-form-inner-content .form-control{
   width: 70%;
}

.allauth-form-inner-content .password_change .form-control{
    font-size: 0.750rem;
    height: 40px;
    width: 95%;
 }

 .allauth-form-inner-content .password_change .form-control:focus{
    font-size: 0.750rem;
 }

 .allauth-form-inner-content .password_change .form-control::placeholder{
    font-size: 0.750rem;
 }

 .socialaccount_providers li{
    margin-top: 5px;
 }

 .socialaccount_providers li .fb{
    color: #ffffff;
    padding: 2% 14.5%;
    background-color:rgb(59, 89, 152);
    color: #ffffff;
    border-radius: 10px;
 }

 .socialaccount_providers li .google{
    padding: 2% 16.5%;
 }


 /******** Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.allauth-form-inner-content .form-control{
    width: 72.5%;
    height: 30px;
    font-size: 0.700rem;
 }

 .allauth-form-inner-content .form-control:focus{
    border-color: #858585;
    box-shadow: 0 0 3px #858585 !important;
    font-size: 0.750rem;
 }

/******* login social buttons */
.socialaccount_providers{
    list-style: none;
    margin-top: 30px;
    padding-left: 0;
 }
 
 .socialaccount_providers li{
    margin-top: 5px;
 }
 
 .socialaccount_providers li .fb{
    color: #ffffff;
    padding: 2% 9.5%;
    background-color:rgb(59, 89, 152);
    color: #ffffff;
    border-radius: 10px;
 }

 .socialaccount_providers li .google{
    color: #ffffff;
    padding: 2% 11.5%;
    background-color: rgb(221, 75, 57);
    color: #ffffff;
    border-radius: 10px;
 }

 /**************************FAQS PAGE */
 #faqs-container{
    padding: 18% 10%;
 }

 #faqs-container h6{
    font-size: 0.800rem;
color: rgb(122, 13, 13);
border-bottom: solid 1px rgb(122, 13, 13);
 }

 #faqs-container p{
    font-size: 0.750rem;
    padding-right: 5%;
    padding-left: 1%;
 }

 #faqs-container a{
    color: #FF6542;
    font-size: 0.750rem;

 }

    /************************** TERMS&CONDITIONS PAGE */
    #terms-conditions-container{
        padding: 18% 10%;
    }
    
     #terms-conditions-container h3{
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 0.800rem;
        color: rgb(122, 13, 13);
        border-bottom: solid 1px rgb(122, 13, 13);
      }

      #terms-conditions-container p{
        font-size: 0.750rem;
        padding-right: 5%;
        padding-left: 1%;
      }
      
      #terms-conditions-container a{
        font-size: 0.750rem;
        color: #FF6542;
     }

     #terms-conditions-container li{
        font-size: 0.700rem;
     }

/************************** REFOUNDS&RETURNS PAGE */
 #refounds-returns-container{
    padding: 18% 10%;
 }

 #refounds-returns-container h6, #refounds-returns-container h5{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 0.900rem;
    color: rgb(122, 13, 13);
    border-bottom: solid 1px rgb(122, 13, 13);
  }
  #refounds-returns-container p{
    font-size: 0.750rem;
    padding-right: 5%;
    padding-left: 1%;
  }
  
  #refounds-returns-container a{
    color: #FF6542;
    font-size: 0.750rem;
 }

 #refounds-returns-container li{
    font-size: 0.500rem;
 }

  /*************** CONTACT PAGE */
#contact-container{
    padding: 8% 5%;
    margin: 100px auto;
    background-color: rgb(235, 227, 233);
    border-radius: 10px;
    width: 90%;
    text-align: center;
}

#contact-container h4{
    letter-spacing: 2px;
    color: rgb(122, 13, 13);
    font-size: 0.900rem;
}

#contact-container p{
    letter-spacing: 1px;
    font-size: 0.750rem;
}

#contact-container a{
   text-decoration: none;
    font-size: 0.750rem;
}

#contact-container button{
    letter-spacing: 1px;
    border: none;
    background: none;
    color: #FF6542;
    font-size: 0.900rem;
}

#contact-container .form-control{
   margin: 5px auto;
   width: 100%;
   font-size: 0.750rem;
}


#contact-container .form-control:focus{
    font-size: 0.750rem;
 }

 #contact-container .form-control::placeholder{
    letter-spacing: 1px;
    font-size: 0.750rem;
 }

 /********** contact confirmation container */
 #message-box{
    padding: 15% 7%;
 }

.message{
    font-size: 0.700rem;
    line-height: 25px;
    color: rgb(122, 13, 13);
}

#contact-container .back-home{
    letter-spacing: 1px;
    color: #FF6542;
    font-size: 0.850rem;
}

/************** ABOUT PAGE */

#about-container{
    padding: 5% 12%;
    margin: 80px auto;
    background-color: rgb(235, 227, 233);
    border-radius: 10px;
    width: 90%;
    text-align: left;
}

#about-container h4{
    font-size: 0.800rem;
    color: rgb(122, 13, 13);
    border-bottom: solid 1px rgb(122, 13, 13);
    ;
}
#about-container h6{
    font-size: 0.800rem;
    color: rgb(122, 13, 13);
}

#about-container p{
    font-size: 0.750rem;
}

#about-container a{
    letter-spacing: 1px;
    border: none;
    background: none;
    color: #FF6542;
    font-size: 0.750rem;
}
}

  /******************************************************************** TABLET SCREEN */
  @media only screen and (min-width:640px) and (max-width:950px) {

    /**************** HEADER*/
    header h1{
        font-size: 1.7rem;
        margin-top: 15px;
}


input[name="q"]{
    margin-top: 5px;
    margin-left: 10px;
    width: 30%;
   }
        
.store-name-link {
    text-decoration: none;
    font-size: 1.6rem;
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
}

#burguer-icon,
.fa-bag-shopping,
.fa-heart,
.fa-user {
    font-size: 1.7rem;
  }

/*********** shippin info bar */
header .shipping-info{
    width: 101.1%;
    font-size: 0.675rem;
    background-color: #5D737E;
    color: #F3FFC6;
}

.shipping-info p{
    margin: 0 auto;
}

/*************** HERO SECTION **/
.hero-wraper{
    position: relative;
    width: 100%;
    padding: 0;
}

.hero-img-box-1,
.hero-img-box-2{
    text-align: center;
    max-width: 43rem;
    min-width: 27rem;
    margin: 0 auto;
}

.hero-box-1{
position: relative;
left:0;

}

.hero-box-2{
    position: relative;
    right:0;
    margin-top: 10px;
    }

img{
    width:90%;
}

.hero-1-text{
    position: absolute;
    top: 270px;
    left:170px;
}

.hero-2-text{
    position: absolute;
    top: 30px;
    right:180px;
}

/**************** CATEGORIES SECTION */
.categories-wraper{
    margin: 0 auto;
    padding: 0;
}

.category-box{
    margin: 150px auto;
    min-width: 15rem;
    max-width: 25rem;
}

.category-box img{
    height: 21rem;
    width: 100%;
}

.category-title{
text-align: center;   
    letter-spacing: 3px;
}

/***************** NEW ARRIVALS SECTION ***/
.new-arrivals-container{
    margin-top: 250px;
    margin-bottom: 150px;
}

.carousel-inner{
    height: 500px;
    width: 100%;
    max-width: 37rem;
    margin: 0 auto;
}

.carousel-inner .carousel-item{
    margin-top: 30px;
}

.product-card{
    width: 200px;

}
.product-card .card-img-box{
    height: 305px;
    background-color: rgb(122, 13, 13);
}

.product-card .card-img-box img{
    height: 250px;
}

.carousel-indicators button[data-bs-target]{

 background-color: rgb(122, 13, 13);
}

.indicator{
    font-size: 1.5rem;
    color: rgb(122, 13, 13);
}


/*************** STORE INFORMATION */
.information-box{
    text-align: center;
    height: 95%;
    width: 70%;
    padding: 50px 20px;
}

.information-box .store-info-text{
    text-align: center;

}

.information-box h6{
font-size: 0.850rem;
}

.information-box p{
    font-size: 0.850rem;
    }

.information-box .truck{
    color: rgb(122, 13, 13);
}

.subscribe{
font-size: 1rem;
}

.information-box button{
    letter-spacing: 1px;
    font-size: 0.850rem;
    height: 45px;
    width: 99.5%;
    background-color: #FF6542;
    color: #ffffff;
    font-weight: bold;
}

/********** FOOTER */
.container-logo{
    order:4
}

.logo-footer-box img{
    width: 20%;
  }

  .footer-bg{
    color:white;
    background-color: rgb(122, 13, 13);

  }

/******* ALL-AUTH-FORMS */
.header-container .allauth-form-inner-content{
    /* padding-left: 25%; */
    padding: 4% 7%;
    margin: 0 auto;
    background-color: rgb(235, 227, 233);
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

.allauth-form-inner-content h1{
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.allauth-form-inner-content p{
    font-size: 0.800rem;
}

.allauth-form-inner-content a{
   text-decoration: none;
    font-size: 0.800rem;
}

.allauth-form-inner-content button{
    border: none;
    background: none;
    color: #FF6542;
    font-size: 1.1rem;
}

.allauth-form-inner-content .form-control{
    width: 54%;
    height: 30px;
    font-size: 0.750rem;
 }

 .allauth-form-inner-content .form-control:focus{
    border-color: #858585;
    box-shadow: 0 0 3px #858585 !important;
    font-size: 0.750rem;
 }

/******* login social buttons */
.socialaccount_providers{
    list-style: none;
    margin-top: 30px;
    padding-left: 0;
 }
 
 .socialaccount_providers li{
    margin-top: 8px;
 }
 
 .socialaccount_providers li .fb{
    color: #ffffff;
    padding: 1% 9.5%;
    background-color:rgb(59, 89, 152);
    color: #ffffff;
    border-radius: 10px;
 }

 .socialaccount_providers li .google{
    color: #ffffff;
    padding: 1% 10.5%;
    background-color: rgb(221, 75, 57);
    color: #ffffff;
    border-radius: 10px;
 }

 /**************************FAQS PAGE */
 #faqs-container{
    padding: 10% 20%;
 }
 #faqs-container h6{
color: rgb(122, 13, 13);
border-bottom: solid 1px rgb(122, 13, 13);
 }

 #faqs-container h5{
    color: rgb(122, 13, 13);
     }

 #faqs-container p{
    font-size: 0.900rem;
    padding-right: 5%;
    padding-left: 1%;
 }

 #faqs-container a{
    color: #FF6542;
 }
 
   /************************** TERMS&CONDITIONS PAGE */
   #terms-conditions-container{
    padding: 10% 20%;
 }

 #terms-conditions-container h3{
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(122, 13, 13);
    border-bottom: solid 1px rgb(122, 13, 13);


  }
  #terms-conditions-container p{
    font-size: 0.850rem;
    padding-right: 5%;
    padding-left: 1%;
  }
  
  #terms-conditions-container a{
    font-size: 0.850rem;

    color: #FF6542;
 }
 #terms-conditions-container li{
    font-size: 0.850rem;
 }

 /************************** REFOUNDS&RETURNS PAGE */
 #refounds-returns-container{
    padding: 10% 20%;
 }

 #refounds-returns-container h6, #refounds-returns-container h5{
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(122, 13, 13);
    border-bottom: solid 1px rgb(122, 13, 13);
  }
  #refounds-returns-container p{
    font-size: 0.900rem;
    padding-right: 5%;
    padding-left: 1%;
  }
  
  #refounds-returns-container a{
    color: #FF6542;
    font-size: 0.900rem;
 }

 #refounds-returns-container li{
    font-size: 0.900rem;
 }

  /*************** CONTACT PAGE */
#contact-container{
    padding: 5% 12%;
    margin: 50px auto;
    background-color: rgb(235, 227, 233);
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

#contact-container h4{
    letter-spacing: 2px;
    color: rgb(122, 13, 13);
    font-size: 1.1rem;
}

#contact-container p{
    letter-spacing: 1px;
    font-size: 0.750rem;
}

#contact-container a{
   text-decoration: none;
    font-size: 0.700rem;
}

#contact-container button{
    letter-spacing: 1px;
    border: none;
    background: none;
    color: #FF6542;
    font-size: 1rem;
}

#contact-container .form-control{
    margin: 5px auto;
   width: 90%;
   font-size: 0.700rem;
}


#contact-container .form-control:focus{
    font-size: 0.700rem;
 }

 #contact-container .form-control::placeholder{
    letter-spacing: 1px;
    font-size: 0.700rem;
 }

 /********** contact confirmation container */
 #message-box{
    padding: 19% 10%;
 }

.message{
    font-size: 0.900rem;
    line-height: 30px;
    color: rgb(122, 13, 13);
}

#contact-container .back-home{
    letter-spacing: 1px;
    color: #FF6542;
    font-size: 1rem;
}

/************** ABOUT PAGE */

#about-container{
    padding: 5% 12%;
    margin: 50px auto;
    background-color: rgb(235, 227, 233);
    border-radius: 10px;
    width: 70%;
    text-align: left;
}

#about-container h4{
    color: rgb(122, 13, 13);
    border-bottom: solid 1px rgb(122, 13, 13);
    ;
}
#about-container h6{
    color: rgb(122, 13, 13);
}

#about-container p{
    font-size: 0.900rem;
}

#about-container a{
    letter-spacing: 1px;
    border: none;
    background: none;
    color: #FF6542;
    font-size: 1rem;
}

}
  /******************************************************************** LAPTOP SCREEN */
  @media only screen and (min-width: 1200px) {
  
    #burguer-icon,
     .fa-bag-shopping,
   .fa-heart,
   .fa-user {
    font-size: 2.1rem;
  }

/************** shippin info bar */
 .shipping-info{
    width: 100vw;
    height: 40px;
    font-size: 0.775rem;
    background-color: #5D737E;
    color: #F3FFC6;
}



/*************** INFORMATION SECTION **/
#store-information .row{
    padding-left: 2%;
    padding-right: 2%;
}

.information-box button{
    letter-spacing: 1px;
    font-size: 0.900rem;
    height: 45px;
    width: 99.5%;
    background-color: #FF6542;
    color: #ffffff;
    font-weight: bold;
}


/***************** HERO SECTION */
.hero-img-box-1{
    margin-left: 4rem;
}

.hero-img-box-2{
    margin-right: 4rem;
}

.hero-img-box-1,
.hero-img-box-2{
    text-align: center;
    max-width: 40rem;
    min-width: 27rem;
    /* margin: 0 auto; */
}

.hero-box-1{
position: relative;
left:0;

}

.hero-box-2{
    position: relative;
    right:0;
    }

img{
    width:100%;
    max-height: 900px;
}

.hero-1-text{
    position: absolute;
    top: 270px;
    left:200px;
    max-height: 500px;
}

.hero-2-text{
    position: absolute;
    top: 30px;
    right:200px;
}

/**************** CATEGORIES SECTION */
.categories-wraper{
    margin: 0 auto;
    padding: 0;
    max-width: 60rem;
}

.category-box{
    margin: 150px auto;
    min-width: 15rem;
    max-width: 18rem;
    height: 20rem;
}


.category-box img{
    height: 17rem;
    width: 100%;
}

.category-title{
text-align: center;   
    letter-spacing: 3px;
}

/***************** NEW ARRIVALS SECTION ***/
.carousel-inner{
    height: 500px;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}


/********************* BAG PAGE */
.empty-bag-content{
    border: solid 1px rgb(122, 13, 13);
    width: 50%;
    padding: 2%;
    margin-bottom: 80px;

}

#bag-title h1{
    font-size: 1.6rem;
    padding-left: 4%;
}

#bag-title, .empty-bag-content{
    margin-left: 10%;
}

.product-sku-bag, .product-title-bag, .product-quantity-bag, .product-price-bag{
    font-size: 0.750rem;
}

.item-img-bag{
    width: 40%;
    height: 90%;
}

#checkout-button{ 
    font-size: 1.1rem;
    color: #FF6542;
    width: 25%;
}

#checkout-button:hover{ 
    border: none;
}

/************************* ALL-AUTH-FORMS **/
.header-container .allauth-form-inner-content{
    padding: 2% 10%;
    margin: 0 auto;
    background-color: rgb(235, 227, 233);
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

.allauth-form-inner-content h1{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.allauth-form-inner-content p{
    font-size: 0.900rem;
}

.allauth-form-inner-content a{
   text-decoration: none;
    font-size: 0.800rem;
}

.allauth-form-inner-content button{
    border: none;
    background: none;
    color: #FF6542;
    font-size: 1.2rem;
}

.allauth-form-inner-content .form-control{
    width: 47%;
    height: 35px;
    font-size: 0.700rem;
 }

 .allauth-form-inner-content .form-control:focus{
    border-color: #858585;
    box-shadow: 0 0 3px #858585 !important;
    font-size: 0.700rem;
 }


 /************ login social buttons */
 .socialaccount_providers{
    list-style: none;
    margin-top: 30px;
    padding-left: 0;
 }
 
 .socialaccount_providers li{
    margin-top: 15px;
 }
 
 .socialaccount_providers li .fb{
    color: #ffffff;
    padding: 1% 9.5%;
    background-color:rgb(59, 89, 152);
    color: #ffffff;
    border-radius: 10px;
 }

 .socialaccount_providers li .google{
    color: #ffffff;
    padding: 1% 10.5%;
    background-color: rgb(221, 75, 57);
    color: #ffffff;
    border-radius: 10px;
 }


 /**************************FAQS PAGE */
 #faqs-container{
    padding: 10% 20%;
 }
 #faqs-container h6{
color: rgb(122, 13, 13);
border-bottom: solid 1px rgb(122, 13, 13);
 }

 #faqs-container h5{
    color: rgb(122, 13, 13);
     }

 #faqs-container p{
    font-size: 0.900rem;
    padding-right: 5%;
    padding-left: 1%;
 }

 #faqs-container a{
    color: #FF6542;
 }

  /************************** TERMS&CONDITIONS PAGE */
  #terms-conditions-container{
    padding: 10% 20%;
 }

 #terms-conditions-container h3{
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(122, 13, 13);
    border-bottom: solid 1px rgb(122, 13, 13);


  }
  #terms-conditions-container p{
    font-size: 0.900rem;
    padding-right: 5%;
    padding-left: 1%;
  }
  
  #terms-conditions-container a{
    color: #FF6542;
 }

 /************************** REFOUNDS&RETURNS PAGE */
 #refounds-returns-container{
    padding: 10% 20%;
 }

 #refounds-returns-container h6,  #refounds-returns-container h5{
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(122, 13, 13);
    border-bottom: solid 1px rgb(122, 13, 13);
  }
  #refounds-returns-container p{
    font-size: 0.900rem;
    padding-right: 5%;
    padding-left: 1%;
  }
  
  #refounds-returns-container a{
    color: #FF6542;
    font-size: 0.900rem;
 }

 #refounds-returns-container li{
    font-size: 0.900rem;
 }

 /*************** CONTACT PAGE */
#contact-container{
    padding: 5% 12%;
    margin: 50px auto;
    background-color: rgb(235, 227, 233);
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

#contact-container h4{
    letter-spacing: 2px;
    color: rgb(122, 13, 13);
    font-size: 1.2rem;
}

#contact-container p{
    letter-spacing: 1px;
    font-size: 0.750rem;
}

#contact-container a{
   text-decoration: none;
    font-size: 0.700rem;
}

#contact-container button{
    letter-spacing: 1px;
    border: none;
    background: none;
    color: #FF6542;
    font-size: 1rem;
}

#contact-container .form-control{
    margin: 5px auto;
   width: 90%;
   font-size: 0.700rem;
}


#contact-container .form-control:focus{
    font-size: 0.700rem;
 }

 #contact-container .form-control::placeholder{
    letter-spacing: 1px;
    font-size: 0.700rem;
 }

/********** contact confirmation container */
 #message-box{
    padding: 19% 15%;
    line-height: 30px;
 }

.message{
    font-size: 0.900rem;
    line-height: 20px;
    color: rgb(122, 13, 13);
}
#contact-container .back-home{
    letter-spacing: 1px;
    color: #FF6542;
    font-size: 1rem;
}

/************** ABOUT PAGE */
#about-container{
    padding: 5% 12%;
    margin: 50px auto;
    background-color: rgb(235, 227, 233);
    border-radius: 10px;
    width: 70%;
    text-align: left;
}

#about-container h4{
    color: rgb(122, 13, 13);
    border-bottom: solid 1px rgb(122, 13, 13);
    ;
}
#about-container h6{
    color: rgb(122, 13, 13);
}

#about-container p{
    font-size: 0.900rem;
}

#about-container a{
    letter-spacing: 1px;
    border: none;
    background: none;
    color: #FF6542;
    font-size: 1rem;
}

}



 /******************************************************************** LARGE SCREEN */
 @media only screen and (min-width: 1600px) {
  
    p, h1, h2,h4, h4,h5,h6, a, #store-information {
        font-size: clamp(100.75%, 2.2vw, 140%);
        /** this says:
           set the minimun font size to around 16px
           and set the maximun font size to 22px */
      }

/******************** HEADER */
#burguer-icon,
.fa-bag-shopping,
.fa-heart,
.fa-user {
    font-size: 2.5rem;
  }

  .fa-magnifying-glass{
    font-size: 2rem;
  }

  .btn.search {
    right: 80px;
  }

  input[name="q"] {
    margin-top: 0;
    margin-left: 25px;
    width: 25%;
    max-width: 20rem;
    height: 60px;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.search-container {
    margin-top: 30px;
    height: 75px;
}

header h1 {
    font-size: 2.5rem;
}

    /***************** SHIPPING INFO BAR */
     .shipping-info{
        width: 100vw;
        height: 60px;
        font-size: 0.875rem;
        background-color: #5D737E;
        color: #F3FFC6;
    }
    
    
    /*************** INFORMATION SECTION **/
    #store-information .row{
        padding-left: 2%;
        padding-right: 2%;
    }
    
    .information-box button{
        letter-spacing: 1px;
        font-size: 0.900rem;
        height: 45px;
        width: 99.5%;
        background-color: #FF6542;
        color: #ffffff;
        font-weight: bold;
    }
    
    
    /***************** HERO SECTION */
    .hero-wraper {
        max-width: 100rem;
        padding: 0;
    }
    
    .hero-img-box-1{
        margin-left: 8rem;
    }
    
    .hero-img-box-2{
        margin-right: 8rem;
    }
    
    .hero-img-box-1,
    .hero-img-box-2{
        text-align: center;
        max-width: 40rem;
        min-width: 27rem;
        /* margin: 0 auto; */
    }
    
    .hero-box-1{
    position: relative;
    left:0;
    
    }
    
    .hero-box-2{
        position: relative;
        right:0;
        }
    
        .hero-img-box-1 img,
        .hero-img-box-2 img{
        width:100%;
        min-height: 900px;
        max-height: 1100px;
    }
    
    .hero-1-text{
        position: absolute;
        top: 270px;
        left:200px;
        max-height: 500px;
    }
    
    .hero-2-text{
        position: absolute;
        top: 30px;
        right:200px;
    }

    /**************** CATEGORIES SECTION */
.categories-wraper{
    margin: 0 auto;
    padding: 0;
    max-width: 60rem;

    max-width: 80rem;
}

.category-box{
    margin: 150px 0;
    min-width: 17rem;
    max-width: 25.6rem;
}


.category-box img{
    height: 23.5rem;
    width: 100%;
}

.category-title{
text-align: center;   
    letter-spacing: 3px;
}

/***************** NEW ARRIVALS SECTION ***/
.carousel-inner{
    height: 500px;
    width: 100%;
    max-width: 54rem;
    margin: 0 auto;
}

/************* STORE INFORMATION SECTION */

#store-information p, #store-information h6{
    font-size: 1.2rem;
}

#store-information{
    max-width: 95rem;
    margin: 0 auto;

}

.form-group .form-control {

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: 50px;
    letter-spacing: 1px;
 }

 .form-group .form-control::placeholder {
    font-size:1rem;
 }


}