{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}

{% block content %}

    <div class="container h-100 error-container">
        <div class="row h-100 error-content-box">
            <div class="col-12 col-md-8 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Internal server error.
                    Please <a id="contact-admin" href="{% url 'contact' %}">contact</a> the store admin to solve this.
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" 
                            class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                                Return to shop
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
