{% extends "base.html" %}

{% block content %}
<div class="container-fluid header-container my-5 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="allauth-form-inner-content">
                {% block inner_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!------ Facebook SDK for Javascript ---->
<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '356890643321815',
        cookie     : true,
        xfbml      : true,
        version    : 'v15.0'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

{% endblock %}
