{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <title>Basty Shops{% block extra_title%}{% endblock %}</title>

    {% block core_css %}
    <!------- BOOTSTRAP ---->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!------- STYLESHEET CSS ---->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!------- FONTOWSOME ---->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {% endblock %}

    {% block extra_css%}
    {% endblock %}

    {% block core_js %}
     <!-- CDN JQUERY-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>   
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
   <!-- Stripe -->
   <script src="https://js.stripe.com/v3/"></script>
    {% endblock%}

    {% block extra_js %}
    {% endblock %}
</head>
  <body>
    <div class="main-wraper container-fluid pe-0 ps-0">

          <header class="container-fluid pe-3 ps-3 sticky-top">
            <div class="row d-flex flex-row">
              <div class="col-3 col-lg-4 d-inline-flex text-md-start ps-0 ps-md-3 ps-lg-3">
                <button class="burger" id="burger" href="#">
                <i class="fa-solid fa-bars fa-2xl sm-fa-xl"></i>
                </button>
                {% include 'includes/burger_menu.html' %}
                <!--- SEARCHER FORM---->
                <form method="GET" action="{% url 'products' %}" class="d-none d-lg-block d-flex" role="search">
                  <input class="ms-3 mt-3 d-inline" type="text" name="q" placeholder="Search" aria-label="Search">
                  <button class="btn search mt-1" type="submit"><i class="fa-solid fa-magnifying-glass fa-l"></i></button>
                </form>
                <!---->
              </div>
              <div class="col-6 col-lg-4 text-center d-sm-inline">
                <a href="{% url 'home' %} "><h1 class="store-name fs-2">Basty shops</h1></a>
              </div>
              <div class="col-3 col-lg-4 d-sm-inline pe-0 pe-md-3 pe-lg-3">
                <ul class="list-inline list-unstyled d-flex justify-content-end mt-3">
                  <li class="navbar-item me-lg-3 me-2 me-md-3 me-lg-3 dropdown">
                    <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user fa-xl"></i>
                    </a>
                    <div class="dropdown-menu border-0" id="dropdownMenuLink"aria-labelledby="user-options">
                      {% if request.user.is_authenticated %}
                          {% if request.user.is_superuser %}
                              <a href="" class="dropdowm-item">Management</a>
                          {% endif %}
                          <a href="" class="dropdown-item">My Account</a>
                          <a href="{% url 'account_logout' %}" class="dropdown-item">Log out</a>
                      {% else %}
                          <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                          <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      {% endif %}   
                    </div>
                  </li>
                  <li class="navbar-item me-2 me-md-3 me-lg-3 ">
                    <a class="nav-link" href="#">
                          <i class="fa-solid fa-heart fa-xl"></i></a>
                  </li>
                  <li class=" text-center">
                    <a class="nav-link {% if grand_total %} text-info fw-bold {% else %} text-black {% endif %}" href="{% url 'view_bag' %}"  aria-current="page">
                      <!-- <div class="text-center">  -->
                        <i class="fa-solid fa-bag-shopping fa-xl"></i>
                        <p class="my-0">
                          {% if grand_total %}
                            {{ grand_total|floatformat:2 }}
                          {% else %}
                          0.00
                          {% endif %}
                        </p>
                      <!-- </div> -->
                    </a>
                  </li>
                </ul>
              </div>
            </div>
        </header>
        {% if messages %}
        <div class="message-container" id="message-container">
          {% for message in messages %}
          
            {% include 'includes/toasts/messages.html' %}

        {% endfor %}
        </div>
        {% endif %}

            {% block page_header %}
            {% endblock %}

            {% block content %}
            {% endblock %}

    <!-------------- FOOTER ----------->
    <section id="footer">
      <div class="container-footer">
        <div class="row ">
          <div class="col-lg-3 col-md-12 container-logo column">
              <div class="logo-footer-box text-center">
                <a href="{% url 'home' %}"><img src="/media/Screenshot_20180313-160852.jpg" alt="basty-shops-logo"></a>
              </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 text-center text-lg-start footer-bg column ps-3">
            <p class="footer-item"><strong>FAQ</strong></p>
            <p class="footer-item">Terms & Conditions</p>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 text-center text-lg-start footer-bg column">
            <p class="footer-item ">Refounds & Returns</p>
            <p class="footer-item">Contact Us</p>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 text-center text-lg-start footer-bg column">
            <p class="footer-item">Testimonials</p>
          </div>
        </div>
      </div>
    </section>

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
     </script>
  <script src="{% static 'jquery/burgerMenu.js' %}"></script>
    {% endblock %}

    
</body>
</html>