.item-subtotal, .bag-total {
  font-size: 0.800rem;
}

/******************************************************************** MOBILE SCREEN */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  #bag-title h3 {
    padding-left: 25%;
  }

  .bag-items-container p {
    font-size: 0.600rem;
    margin: 2px auto;
  }

  .bag-items-container a {
    font-size: 0.800rem;
    margin-top: 20px;
  }

  .product-img-bag-box {
    height: 120px;
    width: 125px;
  }

  .product-img-bag-box img {
    width: 90%;
    height: 95%;
  }

  .quantity-form-box {
    width: 40%;
  }

  .input-group {
    width: 110px;
  }

  .qty_input {
    font-size: 0.800rem;
    padding-left: 20px;
    width: 50px;
    border: none;
    height: 25px;
  }

  .item-subtotal {
    position: relative;
    left: 40px;
  }

  .increment-qty, .decrement-qty {
    font-size: 0.600rem;
    height: 30px;
  }

  .empty-bag-content {
    border: solid 1px rgb(122, 13, 13);
    width: 70%;
    padding: 3%;
    font-size: 0.750rem;
    margin: 0 auto 80px;
  }

  .empty-bag-content h6 {
    font-size: 0.750rem;
  }

  #bag-title h3 {
    font-size: 0.800rem;
    padding-left: 0;
    position: relative;
    right: 25px;
  }

  #bag-title, .empty-bag-content {
    margin-left: 15%;
  }

  #checkout-button {
    padding-top: 5px;
    margin-top: 3px;
    margin-right: 10px;
    font-size: 0.600rem;
    background-color: #FF6542;
    color: #ffffff;
    width: 40%;
    height: 22px;
    letter-spacing: 1px;
    border: none;
  }

  .total-container {
    margin-bottom: 140px;
  }

  .total-box {
    position: relative;
    right: 18%;
  }

  .total-box p {
    font-size: 0.600rem;
  }

  #checkout-button {
    position: relative;
    left: 8%;
    padding-top: 5px;
    margin-top: 3px;
    font-size: 0.600rem;
    background-color: #FF6542;
    color: #ffffff;
    width: 150px;
    height: 25px;
    letter-spacing: 1px;
    border: none;
  }

  #checkout-button-2 {
    position: relative;
    left: 54%;
    top: 20px;
    padding-top: 4px;
    font-size: 0.600rem;
    background-color: #FF6542;
    color: #ffffff;
    width: 140px;
    height: 26px;
    letter-spacing: 1px;
    border: none;
  }
}

/******************************************************************** TABLET SCREEN */
@media only screen and (min-width:640px) and (max-width:950px) {
  #bag-title h3 {
    padding-left: 25%;
  }

  .bag-items-container p {
    font-size: 0.700rem;
    margin: 10px auto;
  }

  .bag-items-container a {
    font-size: 0.800rem;
    margin-top: 20px;
  }

  .input-group {
    width: 120px;
  }

  .quantity-form-box {
    width: 30%;
  }

  .qty_input {
    font-size: 0.800rem;
    padding-left: 30px;
    width: 50px;
    border: none;
    height: 25px;
  }

  form {
    position: relative;
    right: 11px;
  }

  .item-subtotal {
    position: relative;
  }

  .increment-qty, .decrement-qty {
    font-size: 0.650rem;
    height: 30px;
  }

  .total-container {
    margin-bottom: 140px;
  }

  .total-box {
    position: relative;
    right: 18%;
  }

  #checkout-button {
    padding-top: 8px;
    position: relative;
    left: 21%;
    font-size: 0.700rem;
    background-color: #FF6542;
    color: #ffffff;
    width: 200px;
    height: 35px;
    letter-spacing: 1px;
    border: none;
  }

  #checkout-button-2 {
    position: relative;
    left: 65%;
    top: 20px;
    padding-top: 8px;
    font-size: 0.700rem;
    background-color: #FF6542;
    color: #ffffff;
    width: 200px;
    height: 35px;
    letter-spacing: 1px;
    border: none;
  }
}

/******************************************************************** DESKTOP SCREEN */
@media only screen and (min-width: 1200px) {
  .bag-items-container p {
    font-size: 0.700rem;
    margin: 10px auto;
  }

  .bag-items-container a {
    font-size: 0.800rem;
    margin-top: 20px;
  }

  .qty_input {
    font-size: 0.800rem;
    padding-left: 35px;
    border: none;
    height: 25px;
  }

  .increment-qty, .decrement-qty {
    font-size: 0.650rem;
    height: 30px;
  }

  .total-container {
    margin-bottom: 140px;
  }

  #checkout-button {
    padding-top: 8px;
    position: relative;
    left: 17%;
    font-size: 0.850rem;
    background-color: #FF6542;
    color: #ffffff;
    width: 200px;
    height: 39px;
    letter-spacing: 1px;
    border: none;
  }

  #checkout-button-2 {
    position: relative;
    left: 71%;
    padding-top: 8px;
    font-size: 0.850rem;
    background-color: #FF6542;
    color: #ffffff;
    width: 200px;
    height: 40px;
    letter-spacing: 1px;
    border: none;
  }

}

@media only screen and (min-width: 1600px){

/* .bag-wraper p{
 font-size: 1.1rem;
} */

.main-wraper{
  position: relative;
  height: 100vh;
}

}